@import "tailwindcss";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.metrics {
  font-size: 2.25rem;
  line-height: 2.25rem;
}
@media (min-width: 768px) {
  .metrics {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.metricsTitle {
  

}
@media (min-width: 768px) {
  .metricsTitle {

  }
}
.featureIcon {
  height: 26px;
  width: 26px;
  color: #3182ce;
}
.navButton {
  margin-left: 25px;
  margin-right: 25px;
}
.categoryButton {
  height: 39px;
  padding-left: 14px;
  padding-right: 14px;
  border-width: 1px;
  border-color:lightgrey;
  border-radius: 8px;
}
